ion-range {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

ion-range::part(tick) {
    background: #a2d2ff;
  }
  
  ion-range::part(tick-active) {
    background: #bde0fe;
  }
  
  ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    background: #0233a7;
    color: #fff;
  
    border-radius: 50%;
    transform: scale(1.01);
  
    top: -20px;
  
    min-width: 28px;
    height: 28px;
    transition: transform 120ms ease, background 120ms ease;
  }
  
  ion-range::part(pin)::before {
    content: none;
  }
  
  ion-range::part(knob) {
    background: #3993dc;
  }
  
  ion-range::part(bar) {
    background: #a2d2ff;
  }
  
  ion-range::part(bar-active) {
    background: #bde0fe;
  }