ion-item-divider {
    --background: #1a3676;
    --color: #fff;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
  }

.image {
    display: flex;
    justify-content: center;
}