<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>verOrden</ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" horizontal="end" vertical="top">
    <ion-fab-button color="medium" size="small" (click)="this.modalCtrl.dismiss()">
      <ion-icon name="close-outline" color="light" id="end" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  @if (this.pdfSrc != '') {
    <!-- <pdf-viewer [src]="this.pdfSrc" [render-text]="true" [original-size]="true" [fit-to-page]="true" style="display: block;"></pdf-viewer> -->
    <pdf-viewer 
      [src]="this.pdfSrc" 
      [render-text]="true" 
      [original-size]="false" 
      [fit-to-page]="true"
      style="width: 100%; height: 100%; display: block;"
      >
    </pdf-viewer>
  }
</ion-content>
