ion-tab-button {
    --color-selected:var(--ion-color-events);
}

ion-tab-button.tab-selected {
    border-top: 5px solid;
}

.carrito-numero {
    position: absolute;
    //top: -3px;
    //left: 13px;
    width: 14px;
    height: 14px;
    font-size: 7px;
    padding: 0px;
  }