<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabTodos">
      <ion-icon name="home" ios="home-outline" md="home-sharp"></ion-icon>
      <ion-label>{{ 'ALL' | translate }}</ion-label>
    </ion-tab-button>
   <!--  <ion-tab-button tab="tabCategorias">
      <ion-icon name="star" ios="star-outline" md="star-sharp"></ion-icon>
      <ion-label>{{ 'CATEGORIES' | translate }}</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="tabLivestream">
      <ion-icon name="radio" ios="radio-outline" md="radio-sharp"></ion-icon>
      <ion-label>{{ 'LIVESTREAM' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tabAsignados">
      <ion-icon name="newspaper" ios="newspaper-outline" md="newspaper-sharp"></ion-icon>
      <ion-label>{{ 'ASSIGNED' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>