<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content id="contenido">
        <div class="menu-header-bg"></div>
        @if(this._up.logueado){
          <div class="header-content">
            <img [src]="this._up.credenciales.photoURL! | imagenext" class="imgRedonda">            
            <div>
              <h4>{{ this._up.credenciales.nombre }}</h4>
              <p>{{ this._up.credenciales.email }}</p>
            </div>
          </div>
        }@else{
          <div class="header-content" (click)="signIn()">
            <img src="./assets/imgs/avtr.png" class="imgRedonda">
            <div>
              <h4>{{ 'LOGIN' | translate | uppercase}}</h4>
            </div>
          </div>
        }
        <ion-list class="menu-items" id="inbox-list">
          <!-- <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi&#64;ionicframework.com</ion-note> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of this._up.pages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              @if(this._cp.items.length > 0 && p.title == 'CART'){                
                <ion-badge slot="end" color="danger">{{this._cp.items.length}}</ion-badge>
              }
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" *ngIf="p.icon"></ion-icon>
              <img class="iconImg" src="../assets/imgs/menu/{{p.image}}" alt="" *ngIf="p.image" >
              <ion-label>{{ p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          @if(this._up.logueado){
            <ion-menu-toggle auto-hide="false" (click)="signOut()">
              <ion-item routerDirection="root"  lines="none" detail="false" routerLinkActive="selected" >
                <ion-icon aria-hidden="true" slot="start" ios="close-circle-outline" md="close-circle-sharp"></ion-icon>                
                <ion-label>{{ "LOGOUT" | translate }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }@else{
            <ion-menu-toggle auto-hide="false" (click)="signIn()">
              <ion-item routerDirection="root"  lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" ios="log-in-outline" md="log-in-sharp"></ion-icon>                
                <ion-label>{{ "LOGIN" | translate }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
