<ion-header [translucent]="true">
  <ion-toolbar color="events">
    <ion-buttons ion-button slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <img left src="./assets/imgs/avtr.png" style="width: 30px">
    </ion-buttons>
    <ion-title>{{ 'UPCOMING_EVENTS' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button ion-button icon-only (click)="showRadioLang()">
          <ion-icon name="globe"></ion-icon>
      </ion-button>
      <ion-button ion-button icon-only (click)="_cp.ver_carrito()">
          <ion-icon name="cart"></ion-icon>
          <ion-badge color="danger" class="carrito-numero" *ngIf="_cp.items.length > 0">
              {{_cp.items.length}}              
          </ion-badge>
      </ion-button> &nbsp; &nbsp;
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  @if(this._ep.eventos.length === 0){
    <div class="ion-text-center no-events ">
      <div>
        <ion-icon name="calendar-outline" style="font-size: 60px;" class="icon-5x"></ion-icon>
        <br> {{ 'NO_UPCOMING_EVENTS' | translate }}
      </div>
    </div>
  }
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <!-- <ion-nav-link router-direction="forward" [component]="component">
    <ion-button>Go to Page Two</ion-button>
  </ion-nav-link> -->

  <div class="welcome">
    <ion-label>Bienvenido{{' '+ this._up.perfil.nombres }}!</ion-label><br>
    <ion-label>a Eventos Galileo</ion-label>
  </div>
  @if (this._ep.eventos.length >= 0) {
    <ion-segment color="events" [scrollable]="true" [(ngModel)]="categoria">
      <ion-segment-button value="Todos" (click)="changeCategory('0')">
        <ion-label>{{ "ALL" | translate | uppercase  }}</ion-label>
      </ion-segment-button>
      @for (categoria of this._ep.categorias; track $index) {
        <ion-segment-button [value]="categoria.Titulo" (click)="changeCategory(categoria.Categoria)">
          <ion-label>{{ categoria.Titulo | uppercase }}</ion-label>
        </ion-segment-button>
      }
    </ion-segment>
  }

  <ion-list lines="none">
  @for(principal of this.eventoBuscar; track principal){
    
    <ion-item>
      <app-card-event [evento]="principal"></app-card-event>
    </ion-item>
  
  }
  </ion-list>
</ion-content>
