/* ion-toolbar {
    background-color: var(--ion-color-events);
} */
ion-loading.custom-loading {
    .loading-wrapper {
      //background: #ffffff url("./assets/imgs/clock.gif") no-repeat center;
      background: red !important;
    }
  }

.no-events {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

ion-item {
    --padding-start: 5px;
    --inner-padding-end: 5px;
}
ion-list {
    //position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 125px);
    width: 100%;
    overflow-y: auto;
  }

app-card-event {
    display: flex;
}

.welcome {
    margin: 10px;
    padding: 5px 25px 5px 25px;
    font-size: 1.6em;
}
